:root {
	--clr-bg-in: rgb(47, 47, 47);
	--clr-in: #dfdfdf;
	--clr-hv-in: #595959;
	--clr-in-div: #181818;
	--clr-in-plc: #B4B4B8;
	--clr-bn-bg: #21a2ff;
	--clr-submit-bt: #21a2ff;
	--clr-logout-bg: #CF0A0A;
	--clr-logout-hv: #FF2929;
}

h2 {
	color: white;
}

p {
	color: white; 
	font-size: large;
	align-self: self-start;
    margin-left: 64px;
	margin-bottom: 0px;
}

.account-main-div {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-input{
	border: none;
    border-radius: 100px;
    height: 70px;
    background-color: var(--clr-bg-in);
    padding-left: 30px;
	padding-right: 18px;
    font-size: 20px;
    color: var(--clr-in);
    outline: none;
	width: 80%;
	transition: background-color 0.3s;
}
.login-input:hover {
	background-color: var(--clr-hv-in);
}
::placeholder {
	color: var(--clr-in-plc);
}

@keyframes slid-up {
	0% {margin-top: 100%}
	100% {margin-top: 400px}
}

.account-content{
	display:flex;
	gap: 20px;
	flex-direction: column;
	align-items: center;
	flex: 1;
	max-width: 580px;
	background-color: var(--clr-in-div);
	padding-top: 64px;
    padding-bottom: 64px;
    border-radius: 25px;
	animation-name: slid-up;
	animation-duration: 0.9s;
	margin-top: 400px;
}


.submit_button{
	border: none;
    padding: 14px 16px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
	background-color: var(--clr-submit-bt);
	color: white;
	transition: color 0.3s, background-color 0.3s, transform 0.3s;
}

.submit_button:hover {
	color: var(--clr-upload-bt-bg);
	background-color: white;
	transform: translateY(-5px);
}

.p_back {
	color: var(--clr-in);
	margin: 0px;
    display: inline-block;
    vertical-align: super;
    margin-left: 5px
}

.log-out-button{
	align-self: self-start;
    margin-left: 58px;
    padding: 10px;
    border: none;
    font-size: 16px;
    background-color: var(--clr-logout-bg);
    color: white;
    border-radius: 5px;
	transition: color 0.3s, background-color 0.3s, transform 0.3s;
}
.log-out-button:hover {
	background-color: var(--clr-logout-hv);
	color: var(--clr-upload-bt-bg);
	transform: translateY(-5px);

}

.error{
	color: red;
}


