:root {
	--clr-bg-in: rgb(47, 47, 47);
	--clr-in: #dfdfdf;
	--clr-hv-in: #595959;
	--clr-in-div: #181818;
	--clr-in-plc: #B4B4B8;
	--clr-bn-bg: #21a2ff;
	--clr-div-bg: #181818;
}
h1{
	color: white;
}
.forget-pass-div{
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}
.login-input{
	border: none;
    border-radius: 100px;
    height: 70px;
    background-color: var(--clr-bg-in);
    padding-left: 30px;
	padding-right: 18px;
    font-size: 20px;
    color: var(--clr-in);
    outline: none;
	width: 90%;
	transition: background-color 0.3s;
}
.login-input:hover {
	background-color: var(--clr-hv-in);
}
::placeholder {
	color: var(--clr-in-plc);
}
@keyframes forget-input-up {
	0%{
		transform: translateY(600px);
	}100%{
		transform: translateY(0px);
	}
}
.forget-input-area{
	display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 64px;
    background-color: var(--clr-div-bg);
    align-items: center;
    border-radius: 25px;
	flex-basis: 500px;
	animation: forget-input-up 0.9s;
}

.area-message{
	text-align: center;
	margin-top: 0px;
	color: var(--clr-in);
}

.area-bottom-message{
	text-align: center;
	margin-top: 16px;
	color: var(--clr-in);
}

.forget-pass-button {
	padding: 22px 0px;
	width: 100%;
	border: none;
	border-radius: 100px;
	font-size: 16px;
    background-color: var(--clr-bn-bg);
    color: white;
    font-weight: 900;
	transition: background-color 0.3s, color 0.3s, transform 0.3s;
}
.forget-pass-button:hover {
	background-color: white;
	color: var(--clr-bn-bg);
	transform: translateY(-5px);
}

a{
	color: white;
	transition: color 0.3s;
}
a:hover{
	color: gray;
}


