.room-app{
    display: flex;
	gap: 30px;
    padding: 0px 90px;
	flex-wrap: wrap;
	justify-content: space-between;
	justify-content: center;
}
.video-comp{
	flex: 1 1 300px;
	background-color: wheat;
	display: inline-flex;
}
#videoPlayer{
	width: 100%;
	background-color: white;
	border-radius: 25px;
}
.chat-comp{
	flex: 0 1 350px;
	height: 400px;
	border-radius: 25px;
	background-color: white;
}
