:root {
	--clr-logout-bg: #CF0A0A;
	--clr-logout-hv: #FF2929;
}
.room-app{
    display: flex;
	gap: 30px;
    padding: 0px 90px;
	flex-wrap: wrap;
	justify-content: space-between;
	justify-content: center;
}
.video-comp{
	flex: 1 1 300px;
	display: inline-flex;
	padding: 0px 5px;
}
#videoPlayer{
	width: 100%;
	border: 2px solid white;
	border-radius: 25px;
}
.chat-comp{
	flex: 0 1 350px;
	height: 400px;
	border-radius: 25px;
	border: 2px  solid white;
}
h3{
	color: white;
}
.room-text{
	display: flex;
    flex-direction: column;
    padding: 15px 90px;
}
.leave-button{
    padding: 10px;
    border: none;
    font-size: 16px;
    background-color: var(--clr-logout-bg);
    color: white;
    border-radius: 5px;
	transition: color 0.3s, background-color 0.3s, transform 0.3s;
}
.leave-button:hover {
	background-color: var(--clr-logout-hv);
	color: black;
	transform: translateY(-5px);

}
